.banner-top {
  width: 100%;
  background-color: rgb(255, 255, 42);
  a {
    display: block;
  }
}

.header-top {
  background-color: #000;
  width: 100%;

  a.logo {
    padding-right: 15px;
    i {
      background-position: 0px 0px;
      width: 141px;
      height: 24px;
    }
  }
  .border-col {
    background-color: #232323;
    width: 1px;
    height: 40px;
  }
  nav.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    .nav-left {
      display: flex;
      align-items: center;

      .location {
        position: relative;
        .location-box {
          padding: 0 15px;
          .location-col {
            display: flex;
            flex-direction: column;
            span {
              font-size: 12px;
              color: #fff;
            }
            a {
              display: flex;
              align-items: center;
              position: relative;
              color: $primary;
              font-size: 12px;
              i.caret {
                font-size: 14px;
                margin-left: 3px;
                &.active {
                  transform: rotate(-180deg);
                }
              }
            }
          }
        }
      }
      .form-input {
        position: relative;
        padding-right: 15px;
        .input {
          width: 225px;
          input {
            width: 100%;
            border: none;
            outline: none;
            background-color: #fff;
            padding: 8px 35px 8px 13px;
            border-radius: 4px;
            font-size: 12px;
            line-height: 14px;
            height: 30px;
          }
          i {
            position: absolute;
            color: #000;
            font-size: 20px;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
      }
      .cart {
        position: relative;
        .cart-box {
          border: 1px solid #8f8f8f;
          border-radius: 4px;
          line-height: 14px;
          padding: 5px 8px;
          width: 100%;
          &:hover {
            background: rgba(255, 255, 255, 0.4);
          }
          i {
            font-size: 20px;
            color: #fff;
            margin-right: 8px;
          }
          span {
            color: #fff;
            font-size: 12px;
          }
        }
      }
      .history-cart {
        position: relative;
        .history-cart--box {
          a {
            color: #fff;
            font-size: 12px;
            line-height: 14px;
            margin: 0 12px 0 18px;
            text-align: center;
            width: 55px;
            &:hover {
              color: #fed100;
            }
          }
        }
      }
    }

    .nav-right {
      display: flex;
      align-items: center;
      .tech {
        position: relative;
        .tech-box {
          padding: 0 15px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          a {
            color: #fff;
            font-size: 12px;
            line-height: 14px;
            &:hover {
              color: #fed100;
            }
          }
        }
      }
      .question {
        position: relative;
        .question-box {
          padding: 0 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 40px;
          a {
            font-size: 12px;
            color: #fff;
            line-height: 14px;
            &:hover {
              color: #fed100;
            }
          }
        }
      }
      .game {
        position: relative;
        .game-box {
          padding: 0 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 40px;
          a {
            font-size: 12px;
            color: #fff;
            line-height: 14px;
            &:hover {
              color: #fed100;
            }
          }
        }
      }
    }
  }
}

.header-bottom {
  width: 100%;
  position: relative;
  background-color: #fed100;
  .navbar {
    .navbar-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        cursor: pointer;
        a {
          display: flex;
          align-items: center;
          position: relative;
          color: #000;
          line-height: 16px;
          width: 100%;
          padding: 0 9px;
          height: 43px;
          &:hover {
            background-color: #fff;
          }
          span {
            display: flex;
            align-items: center;
            i {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

i.icon-dienthoai {
  background-position: -85px -90px;
  width: 13px;
  height: 20px;
  margin-right: 5px;
}

i.icon-laptop {
  background-position: -105px -90px;
  width: 25px;
  height: 20px;
  margin-right: 5px;
}

i.icon-tablet {
  width: 16px;
  height: 20px;
  background-position: -140px -90px;
  margin-right: 5px;
}

i.icon-headphone {
  width: 22px;
  height: 18px;
  margin-right: 5px;
  background-position: -165px -90px;
}

i.icon-clocktm {
  width: 17px;
  height: 22px;
  background-position: -195px -90px;
  margin-right: 5px;
}

i.icon-clocktr {
  width: 15px;
  height: 23px;
  background-position: -220px -90px;
  margin-right: 5px;
}

i.icon-pc {
  width: 23px;
  height: 16px;
  margin-right: 5px;
  background-position: -240px -90px;
}

.mega-menu,
.pc {
  position: relative;
}

.mega-menu:hover .sub-menu--headphone {
  display: block;
}

.sub-menu--headphone {
  position: absolute;
  display: none;
  background-color: #fff;
  top: 43px;
  width: 770px;
  border-radius: 4px;
  padding: 10px;
  z-index: 2;
  border: 1px solid #eee;
  left: 0;
  .sub-menu--main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 20px;
    .sub-menu--item {
      margin-bottom: 10px;
      h4 {
        display: inline-block;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        color: #333;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        font-size: 13px;
      }
      h4.sub-title {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        a {
          font-size: 9px;
          display: flex !important;
          width: auto !important;
          align-items: center;
          padding: 0 !important;
          color: #4a90e2;
        }
      }
      a {
        display: block;
        padding: 10px 0 !important;
        height: auto !important;
        &:hover {
          color: #4a90e2;
        }
      }
    }
  }
}

.pc:hover .sub-pc {
  display: block;
}

.sub-pc {
  position: absolute;
  width: 150px;
  display: none;
  background-color: #fff;
  top: 43px;
  border-radius: 4px;
  border: 1px solid #eee;
  left: 0;
  padding: 10px;
  a {
    display: block !important;
    font-size: 14px;
    color: #000 !important;
    padding: 10px 0 !important;
    &:hover {
      color: #4a90e2;
    }
  }
}
